@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Space Mono", monospace;
    background: black;
    color: white;
}

a {
    color: inherit;
    text-decoration: underline;
}

* {
    box-sizing: border-box;
}

input {
    background: transparent;
    padding: 0.2rem 0.5rem;
    border: 1px solid white;
    outline: none;
}

input:focus {
    outline: none;
}

button {
    color: white;
    border: 1px solid white;
    padding: 0.5rem 1rem;
}

button:hover {
    background: white;
    color: black;
}
