.container {
    padding: 0 2rem;
}

.titleSub {
    padding: 0;
    margin: 0;
    font-size: 2rem !important;
}

.main {
    min-height: 100vh;
    max-width: 600px;
    margin: 0 auto;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 2rem;
}

.title,
.description {
    text-align: center;
}

.description {
    margin: 1rem 0;
    line-height: 1.5;
    font-size: 1rem;
}

.code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,
        monospace;
}

.containerPadding {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
